body {
    background-color: pink;

}
img {
    display: block;
    margin: 20px auto;
    width: 600px;
}
#header {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#nav {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#facts {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#questions {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#footer {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#header2 {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#introduction {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#about {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#facts2 {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
    
}
#gallery1 {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#findmore1 {
    background-color: white;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
nav {
    text-align: center;
    margin: 1px 0;
}
nav a {
    font-size: 20px;
    color: black;
    margin: 0 20px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: none;
}
header {
    text-align: center;
    margin: 1px 0;
}
main {
    text-align: center;
    margin: 1px 0;
}
footer {
    text-align: center;
    margin: 1px 0;
}
